<!DOCTYPE html>
<html lang="en">
{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
   <body>
   {% if user.is_authenticated %}
       <div class="page-container">

           <h2 class="top-menu">Hello {{ user.username }},</h2>
           <p>Please choose from below options.</p>
       </div>
   {% endif %}
   <div class="content container">
       <div class="row">
           <div class="col-md-12">
               <div class="links">
                   <!-- Example row of columns -->
                   <div class="row">
                       <div class="col-md-3">
                           <div class="thumbnail">
{#                               <img src="{% static "images/customer.jpg" %}" alt="customer"/>#}
                               <div class="caption">
                                   <h2>Our Parts</h2>
                                   <p>Take a look at all of the products in our store. We have a wide variety of parts available. Browse for yourself!</p>
                                   <p><a class="btn btn-primary" href="/parts"
                                         role="button">View
                                       Part List &raquo;</a></p>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="thumbnail">
{#                               <img src="{% static "images/cupcakes.jpeg" %}" alt="cupcakes"/>#}
                               <div class="caption">
                                   <h2>Part Categories</h2>
                                   <p>Browse our parts by category. We have everything filtered so that you can look for a particular type of part!</p>
                                   <p><a class="btn btn-primary" href="/categories"
                                         role="button">View
                                       Categories &raquo;</a></p>
                               </div>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="thumbnail">
{#                               <img src="{% static "images/lunch.jpeg" %}" alt="lunch"/>#}
                               <div class="caption">
                                   <h2>Your Account</h2>
                                   <p>View everything about your account! From order history to personal details, you can find it here.</p>
                                   <p><a class="btn btn-primary" href=""
                                         role="button">View Account &raquo;</a></p>
                               </div>
                           </div>
                       </div>

                   </div>
               </div>
           </div>
       </div>
   </div>
   </body>

{% endblock %}

</html>
